.a{
    display: inline;
    position: relative;
    left: 820px;
    bottom: 90px;
    font-size: large;

}


.c{
    display: inline;
    position: relative;
    left: 840px;
    bottom: 90px;
    font-size: large;
}

.h{
    display: inline;
    position: relative;
    left: 800px;
    bottom: 90px;
    font-size: large;
    
}
/* 
.contact{
    text-align: center;
    margin: 60px auto 60px auto;
    padding: 10px 10px 10px 10px;
    font-size: xx-large;
} */


.form{
    float: right;
    position: relative;
    right: 10%;
    line-height: 3;
    width: 30%;
}

.get-in-touch{
    width: 30%;
    margin: 100px 100px 100px 100px;
    float: left;
    position:relative;
    left: 10%;
    bottom: 120px;
    line-height: 2;

    
}

.logo1{
    height: 188px;
    width: 250px;
    
}

.logo2{
    width: 130px;
    height: 100px;
    text-align: center;
    position: relative;
    top: 340px;
}

.small-logo{
    width: 20%;
    position: relative;
    left: 80%;
    bottom: 120px;

}